<% include ./partials/header %> 


<h1>user page</h1>
  <p>user: <%= user.username %></p>
  <button class="follow-button" id=<%= user.username %>>フォロー</button>
  
  <p>------follow-------------</p>
  <% user.followers.forEach(function(follower){ %>
  <p><%= follower.username %></p>
  <% }) %>
  <p>--------tweet--------------</p>
  <% tweetOfUser.forEach(function(tweet){ %>
    <p><%= tweet.content %></p>
  <% }) %> 
  <script>
    const currentUser = <%- JSON.stringify(currentUser) %> 
    const followerArray = currentUser.followers
    const user = <%- JSON.stringify(user) %>    

    $(".follow-button").click(function(req,res){
      const id = $(this).attr("id")
      const text = $(this).text()
      $.ajax({
        url: "<%= user.username %>" +"/follow",
        type:"POST",
        data: {id:id},
        success:function(res){
          // postした時にserverからのresponseによってフォローボタンのテキストを変える
          if(res==="a"){
            $(".follow-button").text("フォロー中")
          }else if(res==="b"){
            $(".follow-button").text("フォロー")
          }
        }    
        })
    }) 
    // フォローボタンのテキストを、「フォロー」か「フォロー中」か決める
    function isfollowed(){
      for(var i = 0;i<followerArray.length;i++){
        if(followerArray[i].username===user.username){
          return true
        } else if(currentUser.username===user.username){
          return true
        }
      }
      return false
    }

    if(! isfollowed()){
      $(".follow-button").text("フォロー")
    } else{
      for(var i=0;i<followerArray.length;i++){
        if(followerArray[i].username===user.username){
          $(".follow-button").text("フォロー中")
          break 
        }
      }
    }

    //自分のユーザーページではフォローボタンを表示させない
    if(currentUser.username === user.username){
      $(".follow-button").remove()
    }
  </script>

<% include ./partials/footer %> 
